*{

    font-family: 'Jura', sans-serif; 

}

.other-font{

      font-family: 'Orbitron', sans-serif !important; 

}

:root{

--main-color: #2B9DF4;
--secondary-color: grey;

}

.bg-custom{

    background-color: black !important;

}

.moon-icon{

    height: 30px;
    filter: invert(1);

}

.underline:hover{

    text-decoration: none;

}

.h1-size{

    font-size: 60px;
    font-weight: bold;
    
}

.bg-img-moon{

    background-image: linear-gradient(black, rgba(0,0,0,0.5), black), url(./mediaa/moon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.arrow-down{

    height: 30px;
    filter: invert(1);
}

.border-color{

    border-bottom: 3px solid var(--main-color);

}

.text-color-main{

    color: var(--main-color);

}

.margin-custom{

    margin-top: 20vh;

}

.img-half-moon{

    height: 80vh;

}

.missile{

    height: 95vh;

}

.text-color-secondary{

    color: var(--secondary-color);

}

.btn-custom{

    background-color: var(--main-color);

}

.bg-sunrise{

    background-image: linear-gradient(black, transparent, black), url(./mediaa/sunrise-1765027_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.footer-icon{

    height: 15px;
    filter: invert(1);

}

.custom-height{

    height: 10vh;

}

.line{

    width: 100%;
    height: 3px;
    background-color: var(--main-color);
    background-image: linear-gradient(to right, black, transparent, black);

}